*,
*:before,
*:after {
	box-sizing: border-box;
	font-size: 18px;
}

h1 {
	font-size: 1.5rem;
}

#content {
	box-shadow: 3px 3px 10px #333;
	background: #f2f2f2;
}

body {
	width: 60%;
	margin: 5% auto;
	background: #d6d6d6;
}

.todoApp {
	width: 100%;
	margin: 0;
	padding: 0;
}

input[type="text"] {
	width: 80%;
	height: 2.75rem;
	font-size: 1rem;
}

button {
	height: 2rem;
	width: 20%;
	background: #7C7FB2;
	color: #fff;
	border: 1px solid #444;
}

ul {
	list-style: none outside;
	padding: 0;
}

li.delete {
	text-decoration: line-through;
}

.footer li {
	display: inline-block;
	width: 33%;
}

.footer li a {
	text-decoration: none;
	color: #871c1a;
}